USE [master]
GO
/****** Object:  Database [STUDENTMANAGER]    Script Date: 1/22/2026 5:31:17 PM ******/
CREATE DATABASE [STUDENTMANAGER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STUDENTMANAGER', FILENAME = N'D:\Program Files\MSSQL16.SQLEXPRESS\MSSQL\DATA\STUDENTMANAGER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STUDENTMANAGER_log', FILENAME = N'D:\Program Files\MSSQL16.SQLEXPRESS\MSSQL\DATA\STUDENTMANAGER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STUDENTMANAGER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STUDENTMANAGER]
GO
USE [STUDENTMANAGER]
GO
/****** Object:  Sequence [dbo].[students_seq]    Script Date: 1/22/2026 5:31:18 PM ******/
CREATE SEQUENCE [dbo].[students_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[students]    Script Date: 1/22/2026 5:31:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] NOT NULL,
	[age] [int] NULL,
	[email] [varchar](100) NULL,
	[name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[students] ([id], [age], [email], [name]) VALUES (1, 20, N'phuoc106020@donga.edu.vn', N'Nguy?n Thanh Phu?c')
INSERT [dbo].[students] ([id], [age], [email], [name]) VALUES (2, 20, N'Huy@gmail.com', N'Phan Thanh Huy')
INSERT [dbo].[students] ([id], [age], [email], [name]) VALUES (3, 19, N'Viu@gmail.com', N'Rmah Viu')
GO
USE [master]
GO
